{% extends 'base.html' %}
{% block content %}
    <nav>
        {% if user.is_authenticated %}
        <a href='/user/{{user.last_name}}'>Greetings, {{user.username}}!</a>
        <a href='/accounts/logout'>Logout</a>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/profile'>Profile</a>
        <a href='/posts'>Posts</a>
        {% else %}
        <!-- <a href='{% url "signup" %}'>Sign Up</a>
        <a href='{% url "login" %}'>Login</a> -->
        {% endif %}
    </nav>
    <h1 id='about-title'>About</h1>
    <div class='about-box'>
        <br />
        <p class='about-content'>
            This app was designed to start and journal a hobby. There are many reasons why we should start a new hobby one of which is that it keeps mind more active and excited! It opens opportunities to meet people whom we might want to remember for the rest of our lives. New hobbies can gift us with memories that will accompany us throughtout our unique existence on Earth and while doing so improve the quality of life. Picking up a hobby can mean wasting less time performing tasks that don't add up to an overall benefit but on the contrary can mean working toward a meaninful goal. A new hobby means new skills as well as discovering passions.
            Okay, gaining a hobby makes sense but why journal? Journaling gives a chance to reflect on what's going right/wrong and provides data about your own growth. It's a self-analysis tool and thus our best friend.
            <br />
            <br />
            And if you don't know where to start, don't worry. This is the beginning of your journey and all you need right now is the decision to start. The rest will come, promise!
        </p>
    </div>
    <div id='about-buttons'>
        <button type='submit'  class="log_sign_button"><a href='/login'>LOGIN</a></button>
        <button type='submit'  class="log_sign_button"><a href='/accounts/signup/'>SIGN UP</a></button>
    </div>
{% endblock %}