{% extends 'base.html' %}
{% block content %}
    <h1 id='about-title'>About</h1>
    <div class='about-box'>
        <p class='about-content'>
            jfdlksajfldsajfldksafdsafjdslafjdlsajfldjsalfjdlsajfldsjafldjslakfjdlsajfldjsalkfdjslkafjldsajfldjsalfjdslajfdlsajfd
        </p>
    </div>
    <div id='about-buttons'>
        <button type='submit'  class="log_sign_button"><a href='/login'>LOGIN</a></button>
        <button type='submit'  class="log_sign_button"><a href='/accounts/signup/'>SIGN UP</a></button>
    </div>
{% endblock %}