<!-- this is the page that will hold all of teh boilerplate markup that belongs on every page asuch as the head, nav, footer -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='{% static "styles/styles.css" %}' /> 
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cardo&family=Orelega+One&family=Stardos+Stencil&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        HobbyLog
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        <a href='/user/{{user.last_name}}'>Greetings, {{user.username}}!</a>
        <a href='/accounts/logout'>Logout</a>
        {% else %}
        <a href='{% url "signup" %}'>Sign Up</a>
        <a href='{% url "login" %}'>Login</a>
        {% endif %}
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/profile'>Profile</a>
        <a href='/posts'>Posts</a>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>