{% extends 'base.html' %}
{% block content %}
    <form>
        <div>
            <input type='text' name='post' placeholder='type in a keyword' />
            <input type='submit' value="Search" />
        </div>
        <a href='{% url "blogpost_list" %}'>Clear Search</a>
        <a href='{% url "post_create" %}'>Create Post</a>
    </form>
    <h1>All Blog Posts</h1>
    {% for post in posts %}
    <a href="{% url 'post_detail' post.pk %}">
        <h3>Title: {{ post.post_title }}</h3>
    </a>
    <p>Author: 
        <a href='/user/{{post.user.username}}'>{{post.user.username}}
        </a>
    </p>
    <p>Body: {{ post.post  }}</p>
    {% endfor %}
{% endblock %}