{% extends 'base.html' %}
{% block content %}
    <form>
        <div class='post_input_search'>
            <input type='text' name='post' placeholder='type in a keyword' id='post_search' />
            <input type='submit' value="Search" id='post_search_button' />

        <a href='{% url "blogpost_list" %}' id='post_clear_search_button'>Clear Search</a>
        </div>
    </form>
    <a href='{% url "post_create" %}' id='create_post'>+</a>
        {% for post in posts %}
        <div class='post_box'>
        <a href="{% url 'post_detail' post.pk %}">
            <h3>{{ post.post_title }}</h3>
        </a>
        <p>BY: 
            <a href='/user/{{post.user.username}}'>{{post.user.username}}
            </a>
        </p>
        <div id='post'>
        <p>{{ post.post}}</p>
        </div>
    </div>  
    {% endfor %}
{% endblock %}