{% extends 'base.html' %}
{% block content %}
    <form>
        <div>
            <input type='text' name='name' placeholder='type in a kewyword' />
            <input type='submit' value="Search" />
        </div>
        <a href='{% url "blogpost_list" %}'>Clear Search</a>
        <a href='{% url "post_create" %}'>Create Post</a>
    </form>
    <h1>All Blog Posts</h1>
    {% for post in posts %}
    <a href="{% url 'post_detail' post.pk %}">
        <h3>Title: {{ post.post_title }}</h3>
    </a>
    <h3>Author: {{ post.author }}</h3>
    <h3>Body: {{ post.post  }}</h3>
    {% endfor %}
{% endblock %}