{% extends 'base.html' %}
{% block content %}
<div class='app-title'>
    <h1>the HobbyLog app</h1>
</div>
<div class='sub-heading'>
    <h6>life isn’t boring, it’s just time for a new hobby</h6>
</div>
<div>
    <form method='POST' action='.' class='box'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='LOGIN' class="log_button"/>
        <p id='or'>OR</p>

    </form>
    <button type='submit'  class="sign_button"><a href='/accounts/signup/'>SIGN UP</a></button>
</div>
<h3 id='about'><a href='/about/'>ABOUT</a></h3>

{% endblock %}