{% extends 'base.html' %}
{% block content %}
<nav>
    {% if user.is_authenticated %}
    <a href='/user/{{user.last_name}}'>Greetings, {{user.username}}!</a>
    <a href='/accounts/logout'>Logout</a>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/profile'>Profile</a>
    <a href='/posts'>Posts</a>
    {% else %}
    <div id='about-buttons'>
        <button type='submit'  class="log_sign_button"><a href='/login'>LOGIN</a></button>
        <button type='submit'  class="log_sign_button"><a href='/accounts/signup/'>SIGN UP</a></button>
    </div>
    <!-- <a href='{% url "signup" %}'>Sign Up</a>
    <a href='{% url "login" %}'>Login</a> -->
    {% endif %}
</nav>
    <h1>{{ username }}'s Posts:</h1>
    {% for post in posts %}
        <a href='/posts/{{ post.id }}'>{{ post.post_title }}
            <h3>{{ post.name}}</h3>
        </a>
    {% endfor %}
{% endblock %}